<launch>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    </include>
    
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find obstacle_avoidance)/maps/map.yaml" />
    </include>

    <node name="init_pose" pkg="obstacle_avoidance" type="init_pose" output="screen">
    </node>

</launch>
